# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement 
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### e_commerce Schema:

![e_commerce%20_schema.png](attachment:e_commerce%20_schema.png)

### Load Required Libraries

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d9/91/007a0d60fee8db4f7385075dc50bf62d2d359b417b374ec06b06ce6c2d64/mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.1/15.4 MB 2.1 MB/s eta 0:00:08
   - -------------------------------------- 0.5/15.4 MB 4.7 MB/s eta 0:00:04
   -- ------------------------------------- 1.0/15.4 MB 6.1 MB/s eta 0:00:03
   --- ------------------------------------ 1.2/15.4 MB 5.9 MB/s eta 0:00:03
   ---- ----------------------------------- 1.7/15.4 MB 6.2 MB/s eta 0:00:03
   ----- ---------------------------------- 1.9/15.4 MB 6.5 MB/s eta 0:00:03
   ----- ---------------------------------- 2.3/15.4 MB 6.7 MB/s eta 0:00:02
   ------ --------------------------------- 2.7/15.4 MB 6.8 MB/s eta 0:00:02
   ------- -------------------------------- 3.0/15.4 MB 6.8 MB/s eta 0:00:02
   -------- ------------------------------- 3.3/15.4 MB 6.8 MB/s eta 0:00:02
   --------- ------------------------------ 3.7/15.4 MB 6.9 MB/s eta 0:00:02
   ---------- ----------------------------- 3.9/15.4 MB 6.8 MB/s eta 0:00:02
   ----------- ---------------------------- 4.3/15.4 MB 6.9 MB/s eta 0:00:02
   ------------ --------------------------- 4.7/15.4 MB 6.8 MB/s eta 0:00:02
   ------------- -------------------------- 5.0/15.4 MB 7.0 MB/s eta 0:00:02
   ------------- -------------------------- 5.3/15.4 MB 6.9 MB/s eta 0:00:02
   -------------- ------------------------- 5.6/15.4 MB 6.8 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/15.4 MB 7.0 MB/s eta 0:00:02
   ---------------- ----------------------- 6.3/15.4 MB 6.8 MB/s eta 0:00:02
   ----------------- ---------------------- 6.6/15.4 MB 7.0 MB/s eta 0:00:02
   ------------------ --------------------- 7.0/15.4 MB 7.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.3/15.4 MB 7.0 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.4 MB 7.0 MB/s eta 0:00:02
   -------------------- ------------------- 7.9/15.4 MB 7.0 MB/s eta 0:00:02
   --------------------- ------------------ 8.2/15.4 MB 7.0 MB/s eta 0:00:02
   ---------------------- ----------------- 8.6/15.4 MB 6.9 MB/s eta 0:00:01
   ----------------------- ---------------- 8.9/15.4 MB 7.1 MB/s eta 0:00:01
   ------------------------ --------------- 9.3/15.4 MB 7.0 MB/s eta 0:00:01
   ------------------------- -------------- 9.6/15.4 MB 7.0 MB/s eta 0:00:01
   ------------------------- -------------- 10.0/15.4 MB 7.1 MB/s eta 0:00:01
   -------------------------- ------------- 10.2/15.4 MB 7.0 MB/s eta 0:00:01
   --------------------------- ------------ 10.5/15.4 MB 7.1 MB/s eta 0:00:01
   --------------------------- ------------ 10.7/15.4 MB 7.0 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.4 MB 7.0 MB/s eta 0:00:01
   ----------------------------- ---------- 11.2/15.4 MB 6.9 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.4 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 11.7/15.4 MB 6.8 MB/s eta 0:00:01
   ------------------------------- -------- 12.0/15.4 MB 6.8 MB/s eta 0:00:01
   ------------------------------- -------- 12.2/15.4 MB 6.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.4/15.4 MB 6.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.5/15.4 MB 6.4 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.4 MB 6.3 MB/s eta 0:00:01
   --------------------------------- ------ 12.7/15.4 MB 6.2 MB/s eta 0:00:01
   --------------------------------- ------ 12.8/15.4 MB 6.0 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.4 MB 6.0 MB/s eta 0:00:01
   --------------------------------- ------ 13.0/15.4 MB 5.8 MB/s eta 0:00:01
   ---------------------------------- ----- 13.2/15.4 MB 5.7 MB/s eta 0:00:01
   ---------------------------------- ----- 13.3/15.4 MB 5.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.4/15.4 MB 5.5 MB/s eta 0:00:01
   ----------------------------------- ---- 13.5/15.4 MB 5.5 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.4 MB 5.3 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.4 MB 5.2 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.4 MB 5.2 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.4 MB 5.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.4 MB 5.0 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 5.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.3/15.4 MB 4.9 MB/s eta 0:00:01
   ------------------------------------- -- 14.4/15.4 MB 4.8 MB/s eta 0:00:01
   ------------------------------------- -- 14.6/15.4 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 14.7/15.4 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 14.8/15.4 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  15.1/15.4 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.4 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 4.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\shweta\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shweta\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shweta\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shweta\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\shweta\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\shweta\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [9]:
import mysql.connector
import pandas as pd

### Connect to DB using Mysql-connector-python package

In [ ]:
# Lets make a connection
connection = mysql.connector.connect(host = "localhost",
                                     user = "root",
                                     passwd ="12345")

# creating a cursor object
cursorObject = connection.cursor()
cursorObject

### You are required to create a database named 'e_commerce'

In [ ]:
curr.execute("DROP TABLE IF EXISTS SUPPLIER")
curr.execute("DROP TABLE IF EXISTS CUSTOMER")
curr.execute("DROP TABLE IF EXISTS CATEGORY")
curr.execute("DROP TABLE IF EXISTS PRODUCT")
curr.execute("DROP TABLE IF EXISTS PRODUCT_DETAILS")


sql ='''CREATE TABLE SUPPLIER(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))'''

sql1='''CREATE TABLE CUSTOMER(CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))
'''
sql2='''
CREATE TABLE category(CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))
'''
sql3='''
CREATE TABLE product(PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))
'''
sql4='''
CREATE TABLE product_details (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
'''


curr.execute(sql)
curr.execute(sql1)
curr.execute(sql2)
curr.execute(sql3)
curr.execute(sql4)

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [ ]:
curr.execute("DROP TABLE IF EXISTS RATING")
curr.execute("DROP TABLE IF EXISTS ORDERS")

sql5='''CREATE TABLE orders (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))
'''
sql6='''
CREATE TABLE rating(RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))
'''
curr.execute(sql5)
curr.execute(sql6)

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- | 
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 | 
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [ ]:
# insert into "supplier" table
s="insert into supplier (supp_id,supp_name,supp_city,supp_phone) values (%s,%s,%s,%s)"
val=[
    (1,'Rajesh Retails' ,'Delhi','1234567890'),
    (2 , 'Appario Ltd.' , 'Mumbai' , '2589631470'),
    (3 , 'Knome products' , 'Bangalore' , '9785462315'),
    (4 , 'Bansal Retails' , 'Kochi' , '8975463285'),
    (5 , 'Mittal Ltd.' , 'Lucknow' , '7898456532')
]
curr.executemany(s,val)
conn.commit()

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [ ]:
# insert into "customer" table
curr=conn.cursor()
q="insert into customer (cus_id,cus_name,cus_phone,cus_city,cus_gender) values (%s,%s,%s,%s,%s)"
val1=[
(1,  'AAKASH',  '9999999999',  'DELHI',  'M'),
 (2,  'AMAN',  '9785463215',  'NOIDA',  'M'),
 (3,  'NEHA',  '9999999998',  'MUMBAI',  'F'),
 (4,  'MEGHA', '9994562399',  'KOLKATA',  'F'),
 (5,  'PULKIT', '7895999999',  'LUCKNOW',  'M')
]
curr.executemany(q,val1)
conn.commit()

#### Table:  category
| CAT_ID | CAT_NAME | 
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES | 
| 4 | ELECTRONICS | 
| 5 | CLOTHES |

In [ ]:
# insert into "categoty" table
q="insert into category (cat_id,cat_name) values (%s,%s)"
val1=[
(1,  'BOOKS'),
 (2,  'GAMES'),
 (3,  'GROCERIES'),
 (4,  'ELECTRONICS'),
 (5,  'CLOTHES'),
]
curr.executemany(q,val1)
conn.commit()

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- | 
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 | 
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [ ]:
# insert into "product" table
q="insert into product (pro_id,pro_name,pro_desc,cat_id) values (%s,%s,%s,%s)"
val1=[
(1,  'GTA V',  'DFJDJFDJFDJFDJFJF', 2),
 (2,  'TSHIRT',  'DFDFJDFJDKFD',  5),
 (3,  'ROG LAPTOP',  'DFNTTNTNTERND',  4),
 (4,  'OATS',  'REURENTBTOTH',3),
 (5,  'HARRY POTTER',  'NBEMCTHTJTH',  1)
]
curr.executemany(q,val1)
conn.commit()

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- | 
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 | 
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [ ]:
# insert into "product_details" table
q="insert into product_details (prod_id,pro_id,supp_id,prod_price) values (%s,%s,%s,%s)"
val1=[
(1,1,2,1500),
 (2,3,5,30000),
    (3,5,1,3000),
    (4,2,3,2500),
    (5,4,1,1000)
]
curr.executemany(q,val1)
conn.commit()

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

In [ ]:
# insert into "orders" table
q="INSERT INTO orders (ORD_ID, ORD_AMOUNT, ORD_DATE, CUS_ID, PROD_ID) VALUES (%s, %s, %s, %s, %s)"
val1 = [(20,1500,"2021-10-12",3,5),
(25,30500,"2021-09-16",5,2),
(26,2000,"2021-10-05",1,1),
(30,3500,"2021-08-16",4,3),
(50,2000,"2021-10-06",2,1)]
curr.executemany(q,val1)
conn.commit()

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- | 
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 | 
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [ ]:
# insert into "rating" table
q = "INSERT INTO rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS) VALUES (%s, %s, %s, %s)"
val1 = [(1,2,2,4),
(2,3,4,3),
(3,5,1,5),
(4,1,3,2),
(5,4,5,4)]
curr.executemany(q,val1)
conn.commit()

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [ ]:
conn.close()
conn=mysql.connector.connect(host='localhost',
                        user='root',
                        password='12345',
                        database='e_commerce')
curr=conn.cursor(buffered=True)
Query3= """select customer.cus_gender,count(customer.cus_gender) as count
from customer inner join `orders` on customer.cus_id=`orders`.cus_id
where `orders`.ord_amount>=3000 group by customer.cus_gender;"""
curr.execute(Query3)
output = curr.fetchall()
output_df = pd.DataFrame(output, columns=['CUS_GENDER','COUNT'])
output_df

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [ ]:
 """select `orders`.*,product.pro_name from `orders` ,product_details,product
where `orders`.cus_id=2 and `orders`.prod_id=product_details.prod_id and product_details.pro_id=product.pro_id;"""
curr.execute(Query4)
output = curr.fetchall()
output_df = pd.DataFrame(output, columns=['ORD_ID','ORD_AMOUNT','ORD_DATE','CUS_ID','PROD_ID','PRO_NAME'])
output_df

### Q5) Display the Supplier details who can supply more than one product.

In [ ]:
 """select supplier.* from supplier,product_details
where supplier.supp_id in
(select product_details.supp_id from product_details
group by product_details.supp_id having count(product_details.supp_id)>1)
group by supplier.supp_id;"""
curr.execute(Query5)
output = curr.fetchall()
output_df = pd.DataFrame(output, columns=['SUPP_ID','SUPP_NAME','SUPP_CITY','SUPP_PHONE'])
output_df

### Q6) Find the category of the product whose order amount is minimum.

In [ ]:
 """SELECT CATEGORY.* FROM `ORDERS`
INNER JOIN PRODUCT_DETAILS ON `ORDERS`.PROD_ID = PRODUCT_DETAILS.PROD_ID
INNER JOIN PRODUCT ON PRODUCT.PRO_ID = PRODUCT_DETAILS.PRO_ID
INNER JOIN CATEGORY ON CATEGORY.CAT_ID = PRODUCT.CAT_ID
WHERE `ORDERS`.ORD_AMOUNT = (SELECT MIN(ORD_AMOUNT) FROM `ORDERS`);"""
curr.execute(Query06)
output = curr.fetchall()
output_df = pd.DataFrame(output, columns=['CAT_ID','CAT_NAME'])
output_df

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [ ]:
"""select product.pro_id,product.pro_name
from `orders` inner join product_details on product_details.prod_id=`orders`.prod_id
inner join product on product.pro_id=product_details.pro_id where `orders`.ord_date>"2021-10-05";"""
curr.execute(Query7)
output = curr.fetchall()
output_df = pd.DataFrame(output, columns=['PRO_ID','PRO_NAME'])
output_df

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [ ]:
 """select supplier.supp_id,supplier.supp_name,customer.cus_name,rating.rat_ratstars
from rating inner join supplier on rating.supp_id=supplier.supp_id
inner join customer on rating.cus_id=customer.cus_id order by rating.rat_ratstars desc limit 3;"""
curr.execute(Query8)
output = curr.fetchall()
output_df = pd.DataFrame(output, columns=['SUPP_ID','SUPP_NAME','CUS_NAME','RAT_RATSTARS'])
output_df

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [ ]:
"""select customer.cus_name ,customer.cus_gender from customer where customer.cus_name like 'A%' or customer.cus_name like '%A';"""
curr.execute(Query9)
output = curr.fetchall()
output_df = pd.DataFrame(output, columns=['CUS_NAME','CUS_GENDER'])
output_df

### Q10) Display the total order amount of the male customers.

In [ ]:
 """SELECT SUM(ORD_AMOUNT) AS TOTAL FROM (
SELECT O.ORD_AMOUNT,O.CUS_ID,C.CUS_GENDER
FROM orders O
INNER JOIN customer C
ON O.CUS_ID = C.CUS_ID
WHERE C.CUS_GENDER='M') T;"""
curr.execute(Query10)
output = curr.fetchall()
output_df = pd.DataFrame(output)
output_df

### Q11) Display all the Customers left outer join with  the orders

In [ ]:
"""SELECT * FROM e_commerce.customer C
LEFT OUTER JOIN e_commerce.orders O
ON C.CUS_ID=O.CUS_ID;"""
curr.execute(Query11)
output=curr.fetchall()
output_df = pd.DataFrame(output)
output_df

conn.close()

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)